/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Styles*/

/*FONTS*/

h1{
  font-family: 'museo-slab', 'museo slab';
  font-weight: 700;
  font-size: 2em;
  color: white;
}

h2{
  font-family: 'museo-sans', 'museo sans';
  font-weight: 500;
  line-height: 1.2em;
  font-size: 1.5em;
  color: white;
}

h3{
  font-family: 'museo-slab', 'museo slab';
  font-weight: 100;
  font-size: 1.7em;
  line-height: 1.5em;
}

p {
  font-family: 'museo-sans', 'museo sans';
  font-weight: 300;
  line-height: 1.3em;
  margin-top: 20px;
}

a {
  font-family: 'museo-sans', 'museo sans';
  font-weight: 700;
  font-size: .8em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #112954;
}

a:hover {
  color: #41BA71;
}

/*BUTTONS*/

.cta-button {
  color: #ffffff;
  background-color: #41BA71;
  padding: 15px 40px;
  border: 2px solid #41BA71;
  border-radius: 5px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 60px 20px 10px 20px;
}

 a.cta-button:hover {
   background-color: #1C984D;
   color: #ffffff;
   border: 2px solid #1C984D;
}

.outline-button {
  color: #112954;
  background-color: transparent;
  padding: 15px 40px;
  border: 2px solid #112954;
  border-radius: 5px;
  letter-spacing: 1px;
  background-position: center;
  display: inline-block;
  margin: 10px 20px;
}

 a.outline-button:hover {
   color: #ffffff;
   background-color: #112954;
}

.white-button {
  color: #112954;
  background-color: #ffffff;
  padding: 15px 40px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 50px 20px;
}

 a.white-button:hover {
   color: #ffffff;
   background-color: #112954;
   border: 2px solid #112954;
}

.signup-button {
  color: #ffffff;
  background-color: #41BA71;
  padding: 7px 18px;
  border: 2px solid #41BA71;
  border-radius: 25px;
  letter-spacing: 1px;
  margin-top: -10px;
}

 a.signup-button:hover {
   color: #ffffff;
   background-color: #1C984D;
   border: 2px solid #1C984D;
}

.login-button {
   color: #112954;
  background-color: transparent;
  padding: 7px 22px;
  border: 1px solid #112954;
  border-radius: 25px;
  letter-spacing: 1px;
}

 a.login-button:hover {
   color: #ffffff;
   background-color: #112954;
}

/*NAV*/

.logo {
  float: left;
  clear: right;
  max-width: 10em;
  margin: 15px 0 15px 50px;
}

/* GET RID OF BLUE SHADOW ON CLICK */
  input:focus {outline:0;}

.mobile-nav {
  max-width: 25px;
  float: right;
  margin-right: 50px;
  padding-top: 19px;
}

.x-icon {
  max-width: 25px;
  float: right;
  margin-right: 25px;
  margin-top: -30px;
}



nav {
  background-color: #E6E6E7;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navigation {
  padding: 0px 20px 30px 20px;
  text-align: center;
  background-color: #E6E6E7;

}

.nav-list a {
  display: inline-block;
  margin: 20px 20px;
}

@media screen and (max-width: 1000px) {
.nav-list {
  text-align: left;
  padding-top: 50px;
}
}

.nav-list a {
  margin-left: 0px;
  padding-left: 20px;
}

@media screen and (min-width: 1000px) {

.mobile-nav {
  display: none;
}

.nav-list li {
  position: relative;
  float: left;
  display: block;
}

.nav-list {
  float: right;
  padding-right: 70px;
  margin: -15px 0 -20px 0;
}

.navigation {
  float: right;
  padding: 20px 0 15px 0;
}

.top-buttons {
  float: right;
 margin-top: -9px;
}

}


 /*LANDING*/

 .landing-content {
    background: linear-gradient(rgba(17, 41, 84, 0.5), rgba(17, 41, 84, 0.5)), url(images/Buildings.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 570px;
    display: inline-block;
    text-align: center;
    padding-bottom: 100px;
    position: relative;
 }

 .landing-h1 {
  padding: 130px 40px 50px 40px;
 }

.counter-text {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

 .counter-text-primary {
   margin: 20px 50px 0 50px;
 }

 .counter-text-secondary {
   margin: 20px 20px 20px 20px;
   font-weight: 100;
 }


 @media screen and (min-width: 570px) {

.landing-h1 {
  max-width: 600px;
  display: inline block;
  text-align: center;
  margin: 0 auto;
  padding-top: 170px;
}
}

 /*SELLERS*/

 .sellers {
  text-align: center;
  padding: 0 0 90px 0;
 }
 .sellers-block, .sellers-block2, .sellers-block3 {
    text-align: center;
    margin: 50px 30px;
 }

 @media screen and (max-width: 1085px) {
 .divider, .divider2 {
  display: none;
 }
}
 @media screen and (min-width: 730px) {

.sellers-points {
  width: 100%;
}

 .sellers-block, .sellers-block2, .sellers-block3 {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
     }


 .divider {
background: none repeat scroll 0 0 #112954;
height: 100px;
width: 1px;
border: none;
float: right;
margin: -120px -30px 0 0;
 }

 .divider2 {
background: none repeat scroll 0 0 #112954;
height: 100px;
width: 1px;
border: none;
float: right;
margin: -100px -30px 0 0;
 }


}

/*HOW IT WORKS*/

.how-it-works-text, .how-it-works, .how-it-works2, .how-it-works3, .how-it-works4 {
   text-align: center;
   margin: 50px 30px;
}

.how-it-works-image-1, .how-it-works-image-2, .how-it-works-image-3, .how-it-works-image-4 {
  max-width: 50px;
}

.how-it-works-section{
   background: url(images/howitworksbackground.jpg);
   height: 100%;
   padding: 40px 0 80px 0;
   text-align: center;
}

@media screen and (min-width: 800px) {

.how-it-works, .how-it-works2, .how-it-works3, .how-it-works4   {
  max-width: 220px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 50px;
}

.how-it-works-section {
  width: 100%;
}

.how-it-works-text {
  max-width: 500px;
  text-align: center;
  display: inline-block;
}

.how-it-works-responsive {
  display: none;
}

}

@media screen and (max-width: 800px) {
.desktop-howitworks{
  display: none;
}
}

/* How it Works Desktop */


body {
  padding: 40px 0;
}

.step-nav {
  height: 20px;
  position: relative;
  width: 680px;
  margin: 0 auto 70px;
}
.step-nav .step {
  position: relative;
  float: left;
  width: 200px;
  height: 80px;
}
.step-nav .step p {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  pointer-events: none;
  z-index: 10;
  color: #112954;
  -webkit-transition: font-size 0.3s, color 0.3s;
  transition: font-size 0.3s, color 0.3s;
}
.step-nav .step p.active {
  font-size: 46px;
  color: #fafafa;
}
.step-nav .step .line {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 120px;
  height: 3px;
  background: #d6dadc;
}
.step-nav .step .line .progress {
  width: 0%;
  height: 3px;
  background: #112954;
}
.step-nav .step .radial-progress {
  width: 80px;
  height: 80px;
  background-color: #d6dadc;
  position: absolute;
  right: 0;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
}
.step-nav .step .radial-progress .circle .mask,
.step-nav .step .radial-progress .circle .fill,
.step-nav .step .radial-progress .circle .shadow {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
}
.step-nav .step .radial-progress .circle .mask,
.step-nav .step .radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
}
.step-nav .step .radial-progress .circle .mask {
  clip: rect(0px, 80px, 80px, 40px);
}
.step-nav .step .radial-progress .circle .mask .fill {
  clip: rect(0px, 40px, 80px, 0px);
  background-color: #112954;
}
.step-nav .step .radial-progress .inset {
  width: 74px;
  height: 74px;
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  background-color: #112954;
  border-radius: 50%;
}
.step-nav .step .radial-progress .inset .inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  border-radius: 50%;
}
.step-nav .step.first {
  width: 80px;
}
.step-nav .step.first .radial-progress {
  -webkit-transform: matrix(0, 1.3, -1.3, 0, 0, 0);
          transform: matrix(0, 1.3, -1.3, 0, 0, 0);
  z-index: 10;
}
.step-nav .step.first .circle .fill,
.step-nav .step.first .circle .mask.full {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.step-nav .step.first .circle .fill.fix {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.step-nav .step.first .radial-progress.active .inner-circle {
  -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
          transform: matrix(0, 0, 0, 0, 0, 0);
}
.step-nav .step.first p {
  color: #fafafa;
  font-size: 46px;
  line-height: 46px;
}
.copy-holder {
  position: relative;
  width: 470px;
  height: 100px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  padding-top: 45px;
  color: #666666;
}
.copy-holder div {
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.copy-holder div h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.copy-holder div p {
  display: block;
}
.copy-holder div.active {
  opacity: 1;
  visibility: visible;
}



/*BUYER*/

.buyer {
  text-align: center;
  margin: 80px 30px;
}

.buyer-text {
  margin-bottom: 50px;
}

/* responsive*/
@media screen and (min-width: 500px) {
.buyer-text {
  max-width: 565px;
  display: inline block;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}
}

/*WHY ITS BETTER*/

.why-its-better {
  background: linear-gradient(rgba(17, 41, 84, 0.5), rgba(17, 41, 84, 0.5)), url(images/whyitsbetterbackground.jpg) center no-repeat;
  text-align: center;
  padding: 80px 0px 50px 0;
}
.why-its-better-text {
  margin: 20px 30px;
  color: white;
}

.why-its-better-header {
  color: #ffffff;
}

@media screen and (max-width: 650px) {
  .why-its-better {
  background: linear-gradient(rgba(17, 41, 84, 0.5), rgba(17, 41, 84, 0.5)),  url(images/whyitsbetterbackground-responsive.jpg) no-repeat center;
}
}

@media screen and (min-width: 900px) {
.why-text {
  display: inline-block;
  text-align: left;
}

.why-its-better-text {
  max-width: 430px;
  }

.white-button {
  display: inline-block;
  float: right;
  margin-right: 200px;
}

.why-its-better {
  height: 200px;
  width: 100%;

}

.why-its-better-header {
 padding-left: 25px;
  }
}


/*GET STARTED WITH LIQUIDEED*/

.get-started {
  text-align: center;
  margin: 60px 30px -14px 30px;
}

.building-vector {
   padding: 50px 0 0 0;
   max-width: 400px;
   display: block;
   margin: auto;
}

@media screen and (min-width: 450px) {
.get-started {
  margin-bottom: -17px;
}
}


/*FOOTER*/

.logo-mark {
  max-width: 40px;
  margin: 50px 20px 20px 50px;
  float: left;
  clear: right;
}

.logo-white {
  display: inline-block;
  float: left;
  clear: left;
  max-width: 10em;
  margin: 0px 20px 0 50px;
}

.footer-text {
  color: #ffffff;
  font-weight: bold;
  font-size: .7em;
  margin: 20px 50px 20px 50px;
  line-height: 1.5em;
  clear: right;
  clear: left;
  padding: 30px 0 20px 0;
}

.social-icon {
  min-width: 30px;
  display: inline-block;
  padding: 20px 10px 50px 30px;
}

.footer {
  background: url(images/footer-background.jpg);
  background-width: 100%;
}


@media screen and (min-width: 1100px) {
.footer-list {
  display: inline-block;
  float: right;
  margin: -85px 50px 0 0px;
}

.footer{
    height: 270px;
}


}
