---
title: Welcome to Liquideed
---

          <header>
              <div class="landing-content">
                  <h1 class="landing-h1">Private offers from commercial real estate&rsquo;s most qualified buyers.</h1>
                  <h2>Fast, Transparent, and Free</h2>
                  <a href="#" class="cta-button">Make Me an Offer</a>
                  <div class="counter-text">
                  <h1 class="counter-text-primary">$1.5 Billion in Investor Capital</h1>
                  <h2 class="counter-text-secondary">from vetted, qualified Commercial Real Estate buyers.</h2>
                  </div>
              <div>
          </header>
          <section class="sellers">
            <div class="sellers-points">
                      <div class="sellers-block">
                          <h3 >Fair and Fast Offers</h3>
                          <p>Receive fair-market offers from qualified professional buyers in seven business days. It takes less than 10 minutes to request an offer.</p>
                           <hr class="divider">
                      </div>

                      <div class="sellers-block2">
                          <h3 >Sell Privately</h3>
                          <p>Liquideed handles your request privately, as an off-market listing, with Buyer-Endorsed Confidentiality Agreements.</p>
                           <hr class="divider2">
                      </div>

                      <div class="sellers-block3">
                          <h3 >Commission Free</h3>
                          <p>There is no brokerage agreement for sellers with Liquideed which means sellers don&rsquo;t have to pay a commission.</p>
                      </div>
            </div>
                      <a href="#" class="outline-button">Learn More</a>

          </section>

          <section class="how-it-works-section">
          <div class="how-it-works-responsive">
          <div class="how-it-works-text">
          <h3>How It Works</h3>
          <p>Getting a Liquideed Offer is Free, Easy and Private. Liquideed partners with vetted professional Buyers to provide offers. </p>
          </div>
          <div class="how-it-works-steps">
                      <div class="how-it-works">
                          <img src="images/HowItWorks1.svg" class="how-it-works-image-1" alt="How It Works Step 1">
                          <p>Tell us about your property in less than 10 minutes</p>
                      </div>

                      <div class="how-it-works2">
                          <img src="images/HowItWorks2.svg" class="how-it-works-image-2" alt="How It Works Step 2">
                          <p>Let Liquideed do the work of creating the optimal pool of market buyers for your property</p>
                      </div>

                       <div class="how-it-works3">
                          <img src="images/HowItWorks3.svg" class="how-it-works-image-3" alt="How It Works Step 3">
                          <p>Get multiple fair offers from experienced qualified buyers in seven business days</p>
                      </div>

                       <div class="how-it-works4">
                          <img src="images/HowItWorks4.svg" class="how-it-works-image-4" alt="How It Works Step 4">
                          <p>Choose who you want to work with</p>
                      </div>
          </div>
</div>
<div class="desktop-howitworks">

<div class="step-nav">
  <div class="step first">
    <div class="radial-progress active" data-index="0">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset"><div class="inner-circle"></div></div>
    </div>
    <p>1</p>
  </div>
  <div class="step">
    <div class="line">
      <div class="progress"></div>
    </div>
    <div class="radial-progress" data-index="1">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset"><div class="inner-circle"></div></div>
    </div>
    <p>2</p>
  </div>
  <div class="step">
    <div class="line">
      <div class="progress"></div>
    </div>
    <div class="radial-progress" data-index="2">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset"><div class="inner-circle"></div></div>
    </div>
    <p>3</p>
  </div>
  <div class="step">
    <div class="line">
      <div class="progress"></div>
    </div>
    <div class="radial-progress" data-index="3">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset"><div class="inner-circle"></div></div>
    </div>
    <p>4</p>
  </div>
</div>
<div class="copy-holder">
  <div class="step-1">
    <p>Tell us about your property in less than 10 minutes</p>
  </div>
  <div class="step-2">
    <p>Let Liquideed do the work of creating the optimal pool of market buyers for your property</p>
  </div>
  <div class="step-3 active">
    <p>Get multiple fair offers from experienced qualified buyers in seven business days</p>
  </div>
  <div class="step-4">
    <p>Choose who you want to work with</p>
  </div>
</div>


</div>
                      <a href="#" class="outline-button">See How It Works</a>
          </section>

          <section class="buyer">
                      <h3>Off-Market Investment Listings</h3>
                      <p class="buyer-text">Are you a Buyer?  Get connected to off-market private investment opportunities not previously listed on listing engines, auction sites or marketed with brokers.  Our platform is easy to use with no subscription fees.</p>
                      <a href="#" class="outline-button">Become a Buyer</a>
          </section>

          <section class="why-its-better">
                     <div class="why-text">
                      <h3 class="why-its-better-header">Why It's Better</h3>
                      <p class="why-its-better-text">It takes less than 10 minutes to request a private offer.  Our platform makes it easy to receive competitive market offers in seven business days.  Traditional broker-led marketing averages nine to twelve months.</p>
                     </div>
                      <a href="#" class="white-button">Learn More</a>
          </section>

          <section class= "get-started">
                      <h3>Ready to get started with Liquideed?</h3>
                      <p>Start building your profile with us today and get connected in record time.</p>
                      <a href="#" class="cta-button">Get Started</a>
                      <img src="images/buildingicons.svg" class="building-vector" alt="Buildings">
          </section>


